:root {
    --title-text-color: #212121;
    --text-color: #757575;
    --activ-color: #2196F3;
    --secondary-text-color: #FFFFFF;
    --background-color: #2F303A;
    --background-color-section: #F5F4FA;
    --color-client: #AFB1B8;
}

body {
    background-color: #FFFFFF;
    font-family: 'Roboto', sans-serif;
    margin: 0;
   }
h1, h2, h3, h4, h5, h6, p, ul, li, a, svg {
    margin: 0;
    padding: 0;
    border: none;
}
ul {
    list-style: none;
}
a {
    text-decoration: none;
}
.container {
    width: 1200px;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
}
.is-hidden {
    opacity: 0;
    pointer-events: none;
}
.logo__link,
.header__link,
.features__title,
.title,
.team__name,
.filter__text,
.card__title {
    color: var(--title-text-color);
}
.header__auth-link,
.features__text,
.team__text,
.card__text {
    color: var(--text-color);
}
.hero__title,
.button,
.logo__footer,
.description__text,
.footer__title,
.card__animation-text {
    color: var(--secondary-text-color);
}
/* Header */
.header {
    border-bottom: 1px solid rgb(236, 236, 236);
}
.header__nav {
    display: flex;
    align-items: center;
}
/* Logo */
.logo {
    display: inline-block;
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.2;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.logo__text {
    color: var(--activ-color);
}
.logo__link {
    padding-bottom: 25px;
    padding-top: 24px;
}
.logo__link:hover,
.logo__link:focus {
    color: var(--activ-color);
}

.header__nav-list {
    display: flex;
    margin-left: 93px;
}
.header__item:not(:last-child) {
    margin-right: 50px;
}
.header__link {
    display: block;
    padding-top: 32px;
    padding-bottom: 32px;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.header__link:hover, .header__link:focus {
    color: var(--activ-color);
}
.header__item--active::after {
    content: "";
    display: block;
    width: 100%;
    height: 4px;
    background-color: var(--activ-color);
    border-radius: 2px;
}
.header__auth-list {
    display: flex;
    margin-left: auto;
}
.header__auth-item:not(:last-child) {
    margin-right: 50px;
}
.header__icon {
    fill: var(--text-color);
    vertical-align: middle;
    margin-right: 10px;
}
.header__auth-link:hover .header__icon,
.header__auth-link:focus .header__icon {
    fill: var(--activ-color);
}
.header__auth-link {
    display: block;
    padding-top: 32px;
    padding-bottom: 32px;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.header__auth-link:hover,
.header__auth-link:focus {
    color: var(--activ-color);
}

/* Hero */

.hero {
    padding-top: 200px;
    padding-bottom: 200px;
    background-color: var(--background-color);
}
.hero__overlay {
    max-width: 1600px;
    margin-left: auto;
    margin-right: auto;
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero.jpg);
    background-position: center;
    background-size: cover;
}
.hero__title {
    margin-bottom: 30px;
    font-weight: 900;
    font-size: 44px;
    line-height: 1.4;
    text-transform: uppercase;
    text-align: center;
}

/* Button */
.button {

    display: flex;
    width: 200px;
    height: 50px;
    background-color: var(--activ-color);
    border: none;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    justify-content: center;
    align-items: center;
    font-family: inherit;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.9;
    letter-spacing: 0.06em;
    cursor: pointer;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.button:hover {
    background-color: rgba(24, 140, 232, 1);
}
.hero__button {
    margin: 0 auto;
}

/* Features */


.features {
    padding-top: 94px;
}
.features__list {
    display: flex;
}
.features__item {
    width: 270px;
}
.features__item:not(:last-child) {
    margin-right: 30px;
}
.features__icon{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 270px;
    height: 120px;
    background-color: var(--background-color-section);
    margin-bottom: 30px;
}
.features__title {
    margin-bottom: 10px;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}    
.features__text {
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.03em;
}

/* Description */

.description {
    padding-top: 94px;
    padding-bottom: 94px;
}
/* Title */
.title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    letter-spacing: 0.03em;
}
.description__list {
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
}
.description__item{
    display: flex;
}
.description__position {
    position: relative;
}
.description__item:not(:last-child) {
    margin-right: 30px;
}
.description__name {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 70px;
    background-color: rgba(47, 48, 58, 0.8);
}
.description__text {
    padding-top: 27px;
    font-weight: bold;
    font-size: 14px;
    line-height: 1.14;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 0.03em;
}

/* Team */

.team {
    padding-top: 94px;
    padding-bottom: 94px;
    background-color: var(--background-color-section);
    margin: 0 auto;
}
.team__list {
    display: flex;
    justify-content: center;
    margin-top: 50px;
}
.team__item {
    width: 270px;
    background-color: var(--secondary-text-color);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
}
.team__item:not(:last-child) {
    margin-right: 30px;
}
.team__field {
    padding-top: 30px;
    padding-bottom: 30px;
}
.team__name {
    margin-bottom: 10px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
    letter-spacing: 0.03em;
}
.team__text{
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
    letter-spacing: 0.03em;
}

/* Social-icons */

.social {
    display: flex;
    width: 206px;
    height: 44px;  
}
.team-social {
    margin: 0 auto;
    margin-top: 16px;
}
.social__item:not(:last-child) {
    margin-right: 10px;
}
.social__link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.social__link:hover,
.social__link:focus {
    background-color: rgba(33, 150, 243, 1);
}
.social__icon {
    fill: #AFB1B8;
    width: 20px;
    height: 20px;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.social__item:hover .social__icon,
.social__item:focus .social__icon {
    fill: rgba(255, 255, 255, 1);
}

/* Clients */

.client {
    padding-top: 94px;
    padding-bottom: 94px;
}
.client__list {
    display: flex;
    margin-top: 50px;
}
.client__item:not(:last-child) {
    margin-right: 30px;
}
.client__link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 170px;
    height: 92px;
    color: var(--color-client);
    border: 1px solid var(--color-client);
    border-radius: 4px;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.client__link:hover,
.client__link:focus {
    border: 1px solid var(--activ-color);
    color: var(--activ-color);
}
.client__logo {
    width: 106px;
    height: 60px;
    fill: currentColor;
}

/* Footer */

.footer {
    padding-top: 60px;
    padding-bottom: 60px;
    background-color: var(--background-color);
}
.footer__container {
    display: flex;
}
.footer__logo {
    height: 31px;
    margin-bottom: 20px;
}
.address {
    font-style: normal;
    color: rgba(255, 255, 255, 1);
}
.address__item:not(:last-child) {
    margin-bottom: 9px;
}
.address__link {
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
    font-style: normal;
}
.address__link--color {
    color: var(--secondary-text-color);
}
.footer__social {
    width: 210px;
    margin-left: 70px;
    padding-top: 12px;
}
.footer__title {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.143;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    margin-bottom: 20px; 
}
 .social__item--bgcolor {
    border-radius: 50%;
    background-color:rgba(255, 255, 255, 0.1);
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.social__icon--fill {
    fill:#FFFFFF ;
}

/* Form */

.form {
    width: 570px;
    margin-top: 12px;
    margin-left: 93px;
}
.form__input {
    width: 358px;
    height: 50px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 4px;
    padding-left: 16px;
    margin-right: 12px;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.25;
    letter-spacing: 0.03em;
    background-color: #2F303A;
    color: #FFFFFF;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.form__input:hover {
    border-color: #2196F3;
}
.form__input:focus {
    outline: 1px solid var(--activ-color);
}
.form__field {
    display: flex;
}
 .button__icon {
    margin-left: 10px;
} 

/* Backdrop */

.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.2);
}

/* Modal */

.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: end;
    min-width: 528px;
    height: 581px;
    background-color: #FFFFFF;
    border-radius: 4px;
}
.backdrop__modal {
    padding: 40px;
}
.modal__title {
    font-weight: 700;
    font-size: 20px;
    line-height: 1.15;
    text-align: center;
    letter-spacing: 0.03em;
    margin-bottom: 12px;
}
.modal__item {
    position: relative;
    margin-bottom: 10px;
    width: 448px;
}
.modal__label {
    display: flex;
    flex-direction: column;
}
.modal__text {
    font-weight: 400;
    font-size: 12px;
    line-height: 1.1667;
    letter-spacing: 0.01em;
    color: #757575;
}
.modal__input {
    height: 40px;
    padding-left: 42px;
    margin-top: 4px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal__input:hover {
    border-color: var(--activ-color);
}
.modal__input:focus {
    outline: 1px solid var(--activ-color);
}
.modal__icon {
    position: absolute;
    width: 18px;
    height: 18px;
    top: 29px;
    left: 15px;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal__input:focus + .modal__icon {
    fill: var(--activ-color);
}
.modal__textarea {
    resize: none;
    height: 120px;
    padding: 10px;
}
.modal__textarea::placeholder {
    font-weight: 400;
    font-size: 12px;
    line-height: 1.1667;
    letter-spacing: 0.01em;
    color: rgba(117, 117, 117, 0.5);
}
.modal__agree {
    display: flex;
    justify-content: center;
    align-items: center;
}
.modal__checkbox {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;
}
.modal__checkbox-icon {
    width: 16px;
    height: 15px;
    border: 2px solid black;
    border-radius: 2px;
    margin-right: 8px;
}
.modal__checkbox:checked + .modal__checkbox-icon {
    background-color: var(--activ-color);
    background-image: url(../images/icon\ check.svg);
    background-size: contain;
    background-origin: border-box;
    border-radius: 2px;
    border-color: var(--activ-color);
}
.modal__agree-title {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.714;
    letter-spacing: 0.03em;
    color: #757575;
}
.modal__span {
    color: var(--activ-color);
    text-decoration: underline;
    transition: cursor 250ms cubic-bezier(0.4, 0, 0.2, 1)
}
.modal__span:hover,
.modal__span:focus {
    cursor: pointer;
}
.modal-button {
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
}
.modal__close {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    margin-top: -32px;
    margin-right: -32px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    background-color: #FFFFFF;
    cursor: pointer;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal__close:hover, .modal__close:focus {
    fill: var(--activ-color);
}
.modal__close-icon {
    width: 18px;
    height: 18px;
    text-align: center;
}

/* Portfolio */

.portfolio {
    padding-top: 94px;
    padding-bottom: 94px;
}
.filter {
    display: flex;
    justify-content: center; 
}
.portfolio__filter {
    margin-bottom: 56px;
}
.filter__item:not(:last-child) {
    margin-right: 8px;
}
.filter__button {
    padding: 6px 22px;
    border: none;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.filter__button:hover,
.filter__button:focus {
    background-color: rgba(24, 140, 232, 1);
    color: #FFFFFF;
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}
.filter__text {
    font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.6;
    letter-spacing: 0.03em;
}

/* Card */

.card {
    display: flex;
    flex-wrap: wrap
}
.card__item {
    width: 370px;
    border: 1px solid rgba(238, 238, 238, 1);
    margin-right: 30px;
    margin-bottom: 30px;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.card__item:hover,
.card__item:focus {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}
.card__item:nth-child(3n) {
    margin-right: 0;
}
.card__item:nth-last-child(-n+3) {
    margin-bottom: 0;
}
 .card__overlay {
    position: relative;
    overflow: hidden;
} 
.card__link:hover .card__thumb,
.card__link:focus .card__thumb {
    transform: translateY(-100%)
}
.card__thumb {
    position: absolute;
    width: 370px;
    height: 294px;
    border: 1px solid transparent;
    background-color: rgba(33, 150, 243, 0.9);
    transform: translateY(0%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    z-index: 2;
}
.card__text-thumb {
    position: absolute;
    width: 370px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    z-index: 1;
}
.card__animation-text {
    display: block;
    width: 322px;
    font-size: 18px;
    font-style: normal;
    line-height: 1.56;
    letter-spacing: 0.03em;
    margin: 0 auto;
}
.card__title {
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
}
.card__text {
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.03em;
}
.card__field {
    padding: 20px 24px;
}























