$title-text-color: #212121;
$text-color: #757575;
$activ-color: #2196F3;
$secondary-text-color: #FFFFFF;
$background-color: #2F303A;
$background-color-section: #F5F4FA;
$color-client: #AFB1B8;
$bg-color-hover: rgba(24, 140, 232, 1);